@import "tailwindcss";

@theme {
  --color-violet-600: oklch(0.558 0.288 295.266);
  --color-violet-700: oklch(0.496 0.265 295.266);
  --color-rose-500: oklch(0.645 0.246 16.439);
  --color-rose-600: oklch(0.577 0.245 16.439);
  --color-orange-500: oklch(0.705 0.213 47.604);
  --color-orange-600: oklch(0.646 0.222 41.116);
  --color-amber-400: oklch(0.828 0.189 84.429);
  --color-amber-500: oklch(0.769 0.188 70.08);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}