@import "tailwindcss";

@theme {
  /* Slate Palette */
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-300: #cbd5e1;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;

  /* Other Colors */
  --color-violet-600: #7c3aed;
  --color-violet-700: #6d28d9;
  --color-rose-100: #ffe4e6;
  --color-rose-400: #fb7185;
  --color-rose-500: #f43f5e;
  --color-rose-600: #e11d48;
  --color-orange-100: #ffedd5;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a,
button,
select,
label,
[role="button"],
[tabindex]:not([tabindex="-1"]) {
  cursor: pointer;
}